i.fa-twitter{
	color:white;
}
a:hover i.fa-twitter{
	color:#90caf9;
}

i.fa-github{
	color:white;
}
a:hover i.fa-github{
	color:#90caf9;
}

i.fa-envelope{
	color:white;
}
a:hover i.fa-envelope{
	color:#90caf9;
}

i.fa-linkedin-square{
	color:white;
}
a:hover i.fa-linkedin-square{
	color:#90caf9;
}

hr {
    border: none;
    height: 1px;
    width: 5%;
    /* Set the hr color */
    color: white; /* old IE */
    background-color: white; /* Modern Browsers */
}

a.eighty:link{
    color: hotpink;
}